Server:
  name: 'hose'
  port: 3000
  host: 'localhost'
S3:
  accessKeyId: 'your_access_key'
  secretKeyId: 'your_secret_key'
  backetName: ''
  backetPrefix: 'me-'
  backetSuffix: ''
Static:
  host: 'foobar.s3.amazonaws.com'
  port: 80
  root: '/baz'
  encoding: 'utf-8'
Sign:
  secretKey: 's3_secret_key'
